
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.contactMe-container{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;
    margin: 10px 0%;
    font-family:"poppins" ;
    background-color: black;
    border-top: 4px solid aqua;
    padding-top: 25px;

}

.contactMe-container-box{
    /* border: 3px solid aqua; */
    /* height: 400px; */
    margin: 2% 1%;
}

.input-container{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
.input-box1 img{
    width: 39vw;
    min-width: 300px;
    /* filter: drop-shadow(5px -4px 12px aqua); */
    
}

.input-box1{
    /* flex-grow: 1; */
    display: inline;
}

.input-box2{
    border: 3px solid aqua;
    border-radius: 15px;
    padding: 2.5% 3%;
    box-shadow: 0px 0px 10px aqua;
}
.input-box2 h2{
    color: white;
    text-align: center;
    border-bottom: 4px solid aqua;
    margin: 6% 10%;
    padding-bottom: 4px;
    font-size: 1.5rem;
}

.inputs-icon{
    color: rgb(247, 252, 252);
    padding-right: 10px;
    padding-top: 5px;
    font-size: 1.5rem;
}

.input-container{
    margin: 25px;
    /* display: inline; */
}

.input-container input{
    border: transparent;
    background-color: transparent;
    outline: 0;
    color: white;
    font-weight: 700;
    width: max(200px,25vw);
    border-bottom: 2px solid aqua;
    padding: 5px 5px 0px 5px;
    font-family: "poppins";
   
}


.input-container input::placeholder{
    text-align: center;
    color: aqua;
    text-align: left;
    font-weight: 200;
    font-size: 15px;
}

.input-container textarea{
    border: transparent;
    background-color: transparent;
    outline: 2px solid aqua;
    margin-top: 3px;
    color: white;
    padding: 5px 5px 0px 5px;
    width:max(250px,27.5vw);
    max-height: 130px;
}

.input-container textarea::placeholder{
    color: aqua;
    text-align: left;
    font-family: "poppins";
    text-transform: capitalize;
    font-weight: 200;
}

.Input-container{
    display: grid;
    place-content: center;
}

.form-submit{
    background-color: transparent;
    border:transparent;
    text-align: center;
    color:white;
    font-weight: 700;
    font-size: 1.3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
    padding: 8px 24px;
    border-radius: 8px;
    width: 285px;   
    outline: 0;
    display: grid;
    place-content: center;
    background-color: #06b8b8;
}

.form-submit:hover{
    cursor: pointer;
    /* background-color:rgb(34, 34, 34); */
    transform: scale(1.02);
    border: 1px solid aqua;
    color: #032828;
}