@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-size: 19px;
}

main {
    background-color: aqua;
    background: rgb(0, 0, 0);
    padding: 1% 0%;
    font-size: 16px;
    /* background: radial-gradient(circle, rgba(49, 141, 209, 1) 0%, rgba(2, 0, 36, 1) 78%, rgba(0, 212, 255, 1) 100%); */
    border-bottom: 4px solid aqua;
}

#main-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* border: 2px solid white; */
    margin: 0px 20px;
    gap: 10px;
    justify-self: center;
    padding: 0px 20px;
}

#main-container-items {
    /* border: 2px solid white; */
    text-align: center;
    align-items: center;
    /* padding-top: 15px; */
    line-height: 3.3rem;
    padding: 1% 0px;
}

/* .MNR{
    padding-left: 80px;
} */

#main-container-items h4 {
    font-family: 'Salsa', cursive;
    font-size: 1.4em;
    color: white;
}

#main-container-items h2 {
    font-family: 'Salsa', cursive;
    color: rgb(255, 255, 255);
    font-size: 3.7em;
    text-shadow: 3px 0 0 #00a99d;
    
}




#main-container-items h3 {
    font-family: 'Salsa', cursive;
    color: white;
    font-size: 1.2rem;
}

#dynamic-txt-changing {
    color: aqua;
    font-size: 1.3em;
    padding-right: 3px;

}

#Download-CV {
    background-color: #06b8b8;
    border: transparent;
    border-radius: 10px;
    padding: 6px 8px;
    margin: 8px 0px;
    transition: all ease-out 0.3s;
}

#Download-CV:hover {
    transform: scale(1.03);
}

.nav-links-dowload {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 1.2em;
    padding: 0px 10px;
}

#Download-CV a:hover {
    transition: 0.5s ease-in-out;
    color:rgb(34, 34, 34);
    font-size: 1.21rem;

}

#Gupta {
    color: #07dede;
    font-size: 1em;
    text-shadow: 3px 0 0 white;
}

#bg-img {
    width: max(220px, 36vw);
    align-items: center;
    border: 3px solid aqua;
    border-radius: 3%;
    box-shadow: 0px 0px 22px aqua;
    padding: 10px 20px 10px 10px;
    margin: 8% 2%;
}



/* Qualification part is here */
#qual-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
    padding: 20px;
    text-align: center;

}

#qual-items {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    padding: 15px 22px;
    border: 3px solid aqua;
    /* border-radius: 18px; */
    border-radius: 45px 0px 45px 0px;
    margin: 10px;
    text-align: left;
    width: 400px;
    height: 200px;

}

#qual-nam {
    font-size: 1.5em;
    font-family: 'Roboto Slab', serif;
    font-family: 'salsa';
    border-bottom: 4px solid aqua;
    margin-bottom: 10px;
    padding-bottom: 3px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    /*optional*/
}

#qual-icons {
    color: white;
    font-size: 1.3rem;
    padding: 5px 5px;
}

#qual-text {
    /* font-family: 'Roboto Slab', serif; */
    font-family: Ubuntu;
    font-size: 1.2em;
    color: white;
    color: aqua;

}

@media screen and (max-width:860px) {
    #qual-nam {
        font-size: 1.2em;
    }

    #qual-text {
        font-size: 1em;
    }
}



@media screen and (max-width:410px){
    #qual-items{
        text-align: center;
    }
}